<div class="auth-page">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-xl-3 col-lg-4 col-md-5 p-0 bg-white">
                <div class="auth-full-page-content d-flex p-sm-5 p-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 text-center">
                                <a class="d-block auth-logo">
                                    <img src="assets/img/logo.svg" class="img-fluid" alt="Buddy brawl admin logo">
                                </a>
                            </div>
                            <div class="auth-content my-auto">
                                <div class="text-center">
                                    <h5 class="mb-0">Welcome Back !</h5>
                                    <p class="text-muted mt-2">Sign in to continue to buddy brawl admin panel.</p>
                                </div>
                                <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()" class="mt-4 pt-2">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input formControlName="email" type="email"
                                            class="form-control mocaa-panel-custom-control" placeholder="Email" />
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-grow-1">
                                                <label class="form-label">Password</label>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <div class="">
                                                    <a href="auth-recoverpw.html" class="text-muted">Forgot
                                                        password?</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group auth-pass-inputgroup">
                                            <input formControlName="password" [type]="passwordNew"
                                                class="form-control mocaa-panel-custom-control pass-input"
                                                placeholder="Enter password" />
                                            <button class="btn btn-light shadow-none btn-for-pass-visible" type="button"
                                                id="password-addon" (click)="hideShowPassNew()">
                                                <i class="far fa-eye-slash" *ngIf="show"></i>
                                                <i class="far fa-eye" *ngIf="!show"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="remember-check">
                                                <label class="form-check-label" for="remember-check">
                                                    Remember me
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary w-100 mocaa-admin-login-btn" type="submit">
                                            Sign In
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">© 2022 Buddy brawl. All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 p-0">
                <div class="auth-bg pt-md-5 p-4 d-flex">
                    <div class="bg-overlay"></div>
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>